.container{
    display: flex;
    background-color: #fff;
    height: 60px;
    width: 100%;
  
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

}

.dark{
    background-color: #252525;
    display: flex;
  
    height: 60px;
    width: 100%;
  
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

}

.dark_btn{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    cursor: pointer;
   background-color: transparent;
    border: none;
}

.img{
 
    height: 35px;

  
}

.img_dois{  
    border-radius: 50%;
   
    border: 2px solid #fff;
    height: 50px;
 
  
}

.img_tres{  
    border-radius: 50%;
 
    border: 2px solid #252525;
    height: 50px;
  
}
.btn{

    
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    cursor: pointer;

    border-radius: 50%;
  
}

@media screen and (min-width:376px) and (max-width:768px){
   .container{ width: 100%;}
}

@media screen and (max-width:375px){
    .container{
        width: 100vw;

    }
}